body{

  background-color:#37b746;
  background-image:url(backg.jpg);
  color:#fff;
  background-repeat-y:no-repeat;
  background-attachment: fixed;
}

body *{

  font-family:arial;
}

h1,h2,h3,h4,h5{

    font-weight:normal;
    margin:0;
}

a,a:hover,a:visited{

  color:#fff;
  text-decoration:none;
}
